.mmm_header {
  width: 100%;
  height: 2.5rem;
  background-color: #ff841d;
}
.mmm_header .right a {
  display: block;
  padding: 0.325rem;
}
.mmm_header .right a img {
  width: 1.825rem;
}
.mmm_header .left {
  margin-right: 2.25rem;
}
.mmm_header .left a {
  display: block;
  padding: 0.55rem;
}
.mmm_header .left a img {
  width: 9.75rem;
}
.mmm_search {
  width: 100%;
  height: 2.5rem;
  border-bottom: 0.025rem solid #ddd;
}
.mmm_search .con {
  padding: 0.5rem;
}
.mmm_search .con .right button {
  height: 1.5rem;
  width: 3.25rem;
  outline: none;
  border: none;
  border-radius: 0.75rem;
  background-color: #ff841d;
  color: #fff;
  font-size: 0.8rem;
}
.mmm_search .con .left input {
  width: 80%;
  height: 1.5rem;
  line-height: 1.5rem;
  outline: none;
  background-color: #e8e8e8;
  border-radius: 0.75rem;
  text-indent: 1rem;
  font-size: 0.8rem;
}
.mmm_nav {
  margin-top: 0.25rem;
  border-bottom: 0.2rem solid #eee;
  padding: 0.5rem 0 1rem 0;
}
.mmm_nav li a {
  display: block;
  padding: 0.625rem 0.875rem 0 0.875rem;
  color: #333;
}
.mmm_nav li a p {
  margin-top: 0.125rem;
  font-size: 0.7rem;
  white-space: nowrap;
  text-align: center;
}
.mmm_nav .morelist {
  display: none;
}
.mmm_list {
  position: relative;
}
.mmm_list .top {
  height: 1.75rem;
  background-color: #ff841d;
  position: relative;
}
.mmm_list .top h3 {
  font-size: 0.85rem;
  color: #fff;
  line-height: 1.75rem;
  margin-left: 0.5rem;
}
.mmm_list .top a {
  right: 0.55rem;
}
.mmm_list .top a img {
  width: 1rem;
}
.mmm_list .bot {
  padding: 0 0 0.5rem 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
.mmm_list .bot li {
  padding: 0.5rem 0.5rem 0;
  border-bottom: 0.025rem solid #ddd;
  background-color: #fff;
  height: 6.4rem;
  position: relative;
}
.mmm_list .bot li .left img {
  width: 5.75rem;
}
.mmm_list .bot li .right {
  margin: 0.875rem 0 0 6.25rem;
}
.mmm_list .bot li .right p {
  font-weight: 700;
  font-size: 0.7rem;
  color: #000;
}
.mmm_list .bot li .right p span {
  color: #ff841d;
}
.mmm_list .bot li .right .info {
  margin-top: 0.75rem;
  font-size: 0.625rem;
}
.mmm_list .bot li .right .info .msg {
  margin-right: 0.5rem;
  color: #666;
}
.mmm_list button {
  border: none;
  outline: none;
  width: 17.7rem;
  height: 1.5rem;
  border: 0.025rem solid #ccc;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  color: #666;
  z-index: 1;
  font-size: 0.75rem;
}
.mmm_paihang {
  margin: 2rem 0 1.25rem;
}
.mmm_footer {
  margin-bottom: 0.75rem;
}
.mmm_footer ul {
  border-bottom: 0.025rem solid #ccc;
  border-top: 0.025rem solid #ccc;
  margin-bottom: 0.75rem;
}
.mmm_footer ul li {
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}
.mmm_footer ul li a {
  display: inline-block;
  width: 100%;
  font-size: 0.75rem;
}
.mmm_footer ul li:nth-child(1) {
  width: 30%;
}
.mmm_footer ul li:nth-child(2) {
  border-right: 0.025rem solid #ccc;
  border-left: 0.025rem solid #ccc;
  width: 30%;
}
.mmm_footer ul li:nth-child(3) {
  width: 39%;
}
.mmm_footer p {
  text-align: center;
  font-size: 0.75rem;
}
.mmm_footer p a:first-child {
  color: red;
}
