.mmm_header {
  color: #fff;
  text-align: center;
}
.mmm_header h3 {
  font-size: 1.15rem;
  line-height: 2.5rem;
}
.mmm_header .left {
  width: 2.5rem;
}
.mmm_header .left span {
  color: #fff;
  font-family: "宋体";
  font-weight: 900;
  font-size: 1.15rem;
  line-height: 2.5rem;
  margin-left: 0.5rem;
}
.pro ul {
  background-color: #fff;
  padding-bottom: 1.75rem;
}
.pro ul li {
  position: relative;
}
.pro ul li a {
  box-sizing: border-box;
  display: block;
  border-bottom: 0.025rem solid #ddd;
  padding: 0.5rem;
}
.pro ul li a .img {
  text-align: center;
  width: 7.5rem;
  height: 7.5rem;
}
.pro ul li a h3 {
  color: #000;
  font-size: 0.75rem;
}
.pro ul li a h4 {
  color: #ff841d;
  margin: 0.25rem 0;
  font-size: 0.75rem;
}
.pro ul li a p {
  font-size: 0.65rem;
}
.pro ul li:nth-child(odd):before {
  content: '';
  width: 0.025rem;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  right: 0;
  bottom: 0;
}
